.mis-negocios-page {
  padding: 50px 50px 0px 50px;
  margin: 120px 160px 0px 160px;
  background-color: #ccc;

  h1{
    color: #ccc;
    background-color: #444;
    display: inline;
    padding: 10px 20px;
  }
}
