.mis-negocios-page {
  padding: 50px 50px 0px 50px;
  margin: 120px 160px 0px 160px;
  background-color: #ccc;

  h1{
    background-color: #444;
    font-size: 25px;
    width: 50%;
    color: #ccc;
    padding: 10px;
  }
}
