.nuevo-negocio{
  padding: 50px 50px 0px 50px;
  margin: 120px 160px 0px 160px;
  background-color: #ccc;
  height: 100vh;

  &__title{
    background-color: #444;
    font-size: 25px;
    width: 50%;
    color: #ccc;
    padding: 10px;
  }

  &__description{
    width: 75%;
    padding-top: 15px;
    font-size: 19px;
  }

  .form{

    &__btn{
      padding:20px;
      //position: absolute;
      display: flex;
      justify-content: flex-end;
      right:200px;


      .primary{
        background-color: rgb(236, 110, 52);
        padding: 10px 30px;
        border-radius:10px;
        font-size: 15px;
      }

      .secondary{
        padding: 10px 30px;
        border-radius:10px;
        font-size: 15px;
        margin-right: 20px;
      }
    }

    &__divider{
      display: flex;
      flex-wrap: wrap;
      padding-top: 25px;

      div{
        flex-grow: 1;
      }

      div + div{
        margin-left: 25px;
      }
    }

    &__label {
      background-color: #444;
      padding: 10px;
      color: #ccc;
      display:block;
      min-width: 200px;
      width: 15%;
    }

    &__input{
      width: 100%;
      margin-top: 5px;
      padding: 10px;
    }

    &__textarea{
      padding-top: 25px;
      margin-top: 5px;
      width: 100%;
      height: 50%;
    }

    &__select{
      width: 100%;
      height: 40px;
      margin-top: 5px;
    }

    &__error{
      display: block;
      color: red;
    }

    .ng-valid,
    .ng-valid.required {
      background-color: #e8f0fe;
    }

    .message {
      border: 2px solid red;
      padding: 2%;
      display: flex;
      align-items: center;
      text-indent: 15px;
      font-size: 25px;
      color: red;
    }

    .message > span {
      border-radius: 50px;
      border: solid 25px #f00;
      width: 50px;
      height: 50px;
    }

    .message--success {
      border: 2px solid green;
      padding: 2%;
      display: flex;
      align-items: center;
      text-indent: 15px;
      font-size: 25px;
      color: green;
    }

    .message--success > span {
      border-radius: 50px;
      border: solid 25px green;
      width: 50px;
      height: 50px;
    }
  }
}

