<div class="mis-negocios">
    <div class="card">
      <h2 class="card__title">{{ business.name }}</h2>
        <div class="card__divider">
          <div>
            <h3 class="card__label card--wider">description</h3>
            <p>{{ business.description }}</p>
          </div>
          <div>
            <h3 class="card__label">Fecha de creacion</h3>
            <p>{{ business.createdAt }}</p>
          </div>
        </div>

        <div class="card__divider">
          <div>
            <h3 class="card__label">Direccion</h3>
            <p>{{ business.address }}</p>
          </div>
          <div>
            <h3 class="card__label">Pais</h3>
            <p>{{ business.country }}</p>
          </div>
          <div>
            <h3 class="card__label">Tamano</h3>
            <p>{{ business.size }}</p>
          </div>
          <div>
            <h3 class="card__label">Telefono</h3>
            <p>{{ business.phone }}</p>
          </div>
        </div>
    </div>
</div>
