.mis-negocios{
  padding: 50px 50px 0px 50px;
  margin: 120px 160px 0px 160px;
  background-color: #ccc;
  height: 100vh;


  &__title{
    background-color: #444;
    font-size: 25px;
    width: 50%;
    color: #ccc;
    padding: 10px;
    margin-bottom: 30px;
  }

 .card{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;

    p{
      max-width: 800px;
    }

  &--wider{
    max-width: 300px;
  }

  &__divider{
    display: flex;
    flex-wrap: wrap;

    div{
      flex-grow: 1;
      margin-bottom: 55px;
    }

    div + div{
      margin-left: 25px;
    }
  }

  &__title{
    background-color: #444;
    color: #ccc;
    padding: 4px;
    width: 33%;
    margin-bottom: 30px;
    font-size: 18px;
  }


  &__label{
    background-color: #444;
    padding: 4px;
    min-width: 200px;
    color: #ccc;
    margin-bottom: 15px;
  }
 }

 .card + .card{
   padding: 50px 0 0 0;
 }
}
